body{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.row{
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 510px;
}

ion-icon{
    padding: 15px;
}

.card{
    background-image: linear-gradient(to right, black 50%, #ffff 50%);
    border: none;
    border-radius: 10px;
    transition: all 0.45s;
    box-shadow: 2px 2px 4px #000000;
}

.card:before{
    position: absolute;
    content:"";
    height: 0;
    width: 0;
    bottom: 0;
    left: 0;
    border: 5px solid transparent;
    box-sizing: border-box;
}

.card:after{
    position: absolute;
    content:"";
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    border: 5px solid transparent;
    box-sizing: border-box;
}


.card:hover:before{
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    border-right: none;
    border-bottom:none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s;
    filter: invert(1);
    mix-blend-mode: difference;
}


.card:hover:after{
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    border-left: none;
    border-top:none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s;
    filter: invert(1);
    mix-blend-mode: difference
}


h2, p{
    text-shadow: 2px 2px 4px #000000;
    filter: invert(1);
    mix-blend-mode: difference;
}

img{
    border-radius: 100px;
    box-shadow: 2px 2px 4px #000000;
}
